### Create a tuple of 5 numbers.

In [2]:
num = (1,2,4,5,6,8)

### Access the second item in the tuple.

In [3]:
print("Second item: ", num[1])

Second item:  2

### Find the maximum and minimum value in the tuple.

In [4]:
print("Max value: ", max(num))
print("Min value: ", min(num))

Max value:  8
Min value:  1

### Concatenate the tuple with another tuple containing 3 elements.

In [5]:
moreNum = (18, 45, 7)
combined = num + moreNum

print("Combined tuple: ",combined)

Combined tuple:  (1, 2, 4, 5, 6, 8, 18, 45, 7)

### Check if a number is in the tuple.

In [6]:
find = int(input("Enter number"))

if find in combined:
    print(find, "is in the tuple")
else:
    print(find, "is in the tuple")

18 is in the tuple

### Count the occurrences of a specific number in the tuple.

In [7]:
print("18 appears", combined.count(18), "times")

18 appears 1 times

### Convert the tuple into a list and print the list.

In [8]:
numList = list(combined)
print("List: ", numList)

List:  [1, 2, 4, 5, 6, 8, 18, 45, 7]